<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Shortname:</b>
  <%= @event.shortname %>
</p>

<p>
  <b>Longname:</b>
  <%= @event.longname %>
</p>

<p>
  <b>Starts sundown:</b>
  <%= @event.starts_sundown %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
