<!DOCTYPE html>
<html>
<head>
  <title>IsWhen.info</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render "shared/event_list" %>

<section class="call-iphone">
  <%= link_to "Find out about IsWhen for iOS", iphone_path %>
  or
  <%= link_to "download it from the App Store", IsWhen::Application.config.app_store_link %>.
</section>

<footer>
  Copyright &copy; 2008&mdash;<%= Date.today.year %>
  <%= link_to "Patrick Byrne", "http://patrickbyrne.net/" %>
</footer>

</body>
</html>
